.form {
  display: flex;
  gap: 10px
}

.main {
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(../../assets/decoderGif.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.2;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}
